<html>
  <p>Hi {{ name }},</p>
  <p>
    A potential buyer, {{ buyer_first_name }} {{ buyer_last_name }}, has requested to contact you for the product {{ product }} that you posted in {{ customer_portal }}.
  </p>
  <p>
    The contact information is as given below:
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;First Name: {{ buyer_first_name }}
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Last Name: {{ buyer_last_name }}
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;Email ID: {{ buyer_email }}
  </p>
  <p>
    Please feel free to reach out to them to discuss further processing details. Please make sure to take down the product from {{ customer_portal }} once the transaction has been finalized.
  </p>
  <p>
    Regards,
    <br />
    The {{ customer_portal }} Team
  </p>
</html>
