<html>
  <p>Hi {{ name }},</p>
  <p>
    You recently requested to reset the password for your {{ customer_portal }} account.
  </p>
  <p>
    Please go to the link below to reset your password:
    <br />
    <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>
  </p>
  <p>
    Enter the token provided below to reset your password:
    <br />
    {{ reset_password_token }}
  </p>
  <p>
    If you did not request a password reset, please ignore this email or reply to let us know. This password reset link is only valid for the next 24 hours.
  </p>
  <p>
    Regards,
    <br />
    The {{ customer_portal }} Team
  </p>
</html>
